@charset utf-8;
[dir] body{
    background-color: #21202e;
}

[dir] .layout-boxed .page-content{
    border-radius: 0;
}
[dir] .layout-boxed #default-drawer .sidebar-brand{
    border-radius: 0;
}
[dir=ltr] .layout-boxed .page-content{
    background: url(../../public/images/dot_ptn.png) repeat;
    padding: 1rem 6rem;
    margin: 0;
}
[dir] .preloader{
    background-color: #1d1e26;
}

/* global */
[dir] .btn-outline-identity{
    border-color: rgba(86,186,202,1);
    color: rgba(86,186,202,1);
}
[dir] .layout-boxed > .mdk-drawer-layout{
    padding: 0;
}


/* login */
video{
    background-color: #000;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar-brand img{
    width: 120px;
}
.layout-login-image__overlay{
/*
    background: url(../../public/images/bg_login.jpg) no-repeat center;
    background-size: cover;
*/
}
.layout-login-image__form{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -350px;
    margin-left: -208px;
}
.layout-login-image__form h5{
    text-align: center;
}


/* side bar */
.mdk-drawer{
    background-color: #0f0f1b;
}

.sidebar-brand img{
    width: 120px;
    display: block;
    padding-left: 10px;
}


.sidebar-light .sidebar-menu-button{
    color: rgba(86,186,202,0.7);
}
.sidebar-light .sidebar-menu-button:hover{
    color: rgba(86,186,202,1);
}
.sidebar-light .sidebar-menu-icon{
    color: rgba(86,186,202,0.7);
}
.sidebar-light .sidebar-menu-button:hover .sidebar-menu-icon, .sidebar-light .sidebar-menu-button:hover .sidebar-menu-toggle-icon{
    color: rgba(86,186,202,1);
}
.sidebar-light .active > .sidebar-menu-button, .sidebar-light .active > .sidebar-menu-button .sidebar-menu-icon, .sidebar-light .open > .sidebar-menu-button .sidebar-menu-icon{
    color: #fff;
}
.sidebar-light .sidebar-menu-toggle-icon{
    color: rgba(86,186,202,0.7);
}
.sidebar-light .open > .sidebar-menu-button, .sidebar-light .open > .sidebar-menu-button .sidebar-menu-toggle-icon{
    color: #fff;
}
.sidebar-light .sidebar-submenu .sidebar-menu-button{
    color: rgba(86,186,202,0.7);
}
.sidebar-light .sidebar-submenu .active > .sidebar-menu-button, .sidebar-light .sidebar-submenu .active > .sidebar-menu-button .sidebar-menu-icon, .sidebar-light .sidebar-submenu .sidebar-menu-button:hover, .sidebar-light .sidebar-submenu .sidebar-menu-button:hover .sidebar-menu-icon{
    color: rgba(86,186,202,1);
}

/* header */
.navbar-dark-pickled-bluewood .navbar-nav .active > .nav-link, .navbar-dark-pickled-bluewood .navbar-nav .nav-link.active, .navbar-dark-pickled-bluewood .navbar-nav .nav-link.show, .navbar-dark-pickled-bluewood .navbar-nav .show > .nav-link{
    color: #fff;
}
.navbar-dark-pickled-bluewood .navbar-nav .nav-link{
    color: rgba(86,186,202,0.7);
}
.navbar-dark-pickled-bluewood .navbar-nav .nav-link:focus, .navbar-dark-pickled-bluewood .navbar-nav .nav-link:hover{
    color: rgba(86,186,202,1);
}
[dir=ltr] .sidebar-light .sidebar-submenu .sidebar-menu-text{
    border-color: rgba(86,186,202,0.7);
}


/* map */
.map-wrap{
    margin-bottom: 2rem;
}
.map-inner{
    position: relative;
    background-color: #ddd;
    width: 100%;
    height: 600px;
    text-align: center;
    background: url(../../public/images/wt_map.png) no-repeat center;
    background-size: cover;
}

.map-inner .alert-caution{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(230, 36, 36, 0.3);
    display: none;
}

.alert-caution{
    -webkit-animation: blink-1 3.5s infinite both;
	        animation: blink-1 3.5s infinite both;
}
.alert-caution span.alert-case{
    position: absolute;
    top: 50%;
    width: 400px;
    margin-left: -200px;
    margin-top: -80px;
    color: #fff;
    text-align: center;
}
.alert-caution span.alert-case i{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.alert-caution span.alert-case i.icon-caution{
    background: url(../../public/images/noun_caution.svg) no-repeat center;
}
.alert-caution span.alert-case i.icon-fire{
    background: url(../../public/images/noun_fire.svg) no-repeat center;
}
.alert-caution span.alert-case i.icon-virus{
    background: url(../../public/images/noun_virus.svg) no-repeat center;
}
.alert-caution span.alert-case i.icon-siren{
    background: url(../../public/images/noun_siren.svg) no-repeat center;
}


.alert-caution span.alert-case em{
    font-size: 30px;
    font-weight: bold;
    display: block;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.mdk-drawer-layout .container, .mdk-drawer-layout .container-fluid, .mdk-drawer-layout .container-lg, .mdk-drawer-layout .container-md, .mdk-drawer-layout .container-sm, .mdk-drawer-layout .container-xl{
    max-width: 100%;
}
[dir=ltr] .container, [dir=ltr] .container-fluid, [dir=ltr] .container-lg, [dir=ltr] .container-md, [dir=ltr] .container-sm, [dir=ltr] .container-xl, [dir=ltr] .page__container, [dir=rtl] .container, [dir=rtl] .container-fluid, [dir=rtl] .container-lg, [dir=rtl] .container-md, [dir=rtl] .container-sm, [dir=rtl] .container-xl, [dir=rtl] .page__container{
    padding: 0 !important;
}
.wt-col-2 {
    flex: 0 0 20%;
    max-width: 20%;
}

[dir] .bg-alt{
    background-color: #202129 !important;
}
[dir] .bg-alt .text-primary{
    color: #fff !important;
}
table .d-flex a.js-lists-values-orders-name{
    color: #fff;
}
table a.js-lists-values-orders-amount{
    color: rgba(242,249,255,.5);
}
.flatpickr-wrapper a.link-date{
    background-color: rgba(255,255,255,0.05);
    color: rgb(171 179 191 / 70%);
}
html[dir].dark-mode .layout-boxed #default-drawer .sidebar-brand{
    background-color: transparent !important;
}
[data-position=right] > .mdk-drawer__content{
    right: auto;
    left: 0;
    transform: translate3d(-100%, 0, 0);
}
.sidebar-heading__sub{
    font-size: .750rem;
    text-transform: lowercase;
    opacity: 0.5;
}
a.btn-fullScreen{
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 20px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
}
a.btn-fullScreen i.material-icon{
    color: #000 !important;
}
a.faull-map-close{
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
}

.wt-home-layout{
    padding: 0 !important;
}
.navbar-wrap{
    position: absolute;
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
}
.home-map-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../public/images/wt_map2.jpg) no-repeat center;
    background-size: cover;
}
.heat-sensing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../public/images/img_heatmap.png) no-repeat center;
    background-size: cover;
}
/* data panel */
.contents-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 2rem;
    height: 500px;

}
.contents-wrap .contents-wrap-inner{
    background-color: #22242e;
    height: 100%;
    border-radius: .5rem .5rem 0 0;
}
.contents-wrap .card{
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    border-radius: .5rem .5rem 0 0;
}
.contents-wrap .card .wt-pd-va{

}
.contents-wrap .card .wt-pd-va .row{
    padding-left: -6px;
    padding-right: -6px;
}
.contents-wrap .card .wt-pd-va .row .wt-col-2{
    padding-left: 6px;
    padding-right: 6px;
}
.contents-wrap .tab-content{
    padding: .625rem;
}

[dir] .navbar{
    border-radius: .5rem;
}

.side-btn-wrap{
    position: absolute;
    right: 2rem;
    top: 120px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.side-btn-wrap-left{
    position: absolute;
    left: 2rem;
    top: 120px;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.side-btn-wrap-left button.btn{
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
}
.side-btn-wrap button.btn{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
}

.side-btn-wrap .btn-gl-mid{
    padding: 1rem 0;
}
.side-btn-wrap button.btn i.material-icons{
    font-size: 18px;
}

[dir] .nav-btn__styling .btn-secondary:not(:disabled):not(.disabled).active, [dir] .nav-btn__styling .btn-secondary:not(:disabled):not(.disabled):active, [dir] .nav-btn__styling .show > .btn-secondary.dropdown-toggle{
    background-color: #ec104c;
    border-color: #c10637;
}

.wt-nav li{
    margin-left: 1rem !important;
}
.wt-nav li:first-child{
    margin-right: 2.5rem;
}


/* modal */
html.dark-mode .modal h5{
    color: #1d1e26;
}
html.dark-mode .modal-body{
    color: #1d1e26;
}
html.dark-mode .form-label{
    color: #303956;
}
label.form-label.essential:after{
    content: "*";
    color: red;
    margin-left: 3px;
}
.form-group .wt-cell{
    padding-top: 6px;
}
.form-group .wt-cell .form-label{
    margin: 0;
    vertical-align: middle;

}
.form-group .wt-cell .custom-control{
    vertical-align: middle;
}
.wt-event-pop .col-lg{
    padding-left: 5px;
    padding-right: 5px;
}
.wt-event-pop .modal-body{
    padding: 1.875rem;
}
.wt-event-pop .form-group{
    margin-bottom: 1.25rem;
}
.wt-event-pop .modal-footer{
    justify-content: center;
}
.wide-modal .modal-dialog{
    width:100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.wide-modal .modal-dialog .modal-content{
    position: relative;
    height: 100%;
    border-radius: 0;
}
.wide-modal .modal-dialog .modal-content button.close{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size: 40px;
    padding: 10px 20px;

}
.wide-modal .modal-dialog .modal-content .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wide-modal .modal-dialog .modal-content .modal-body .caution-title{
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #fff;
    width: 30%;
    padding: 2rem 0;
    border-radius: .5rem;
}
.wide-modal .modal-dialog .modal-content .modal-body .caution-title i.material-icons{
    font-size: 120px;
    color: #1d1e26;
}
.wide-modal .modal-dialog .modal-content .modal-body .caution-title h2{
    margin: 15px 0 2px;
    color: #1d1e26;
}
.wide-modal .modal-dialog .modal-content .modal-body .caution-title p.desc{
     font-size: 16px;
    margin-bottom: 40px;
    color: #1d1e26;
}
.wide-modal .modal-dialog .modal-content .modal-body .caution-title button.btn{
    font-size: 20px;
}


/* picker */
.wt-picker{
    background-color: rgba(34,36,46,0.9) !important;
}
.wt-picker label{
    font-weight: 600;
    flex: 40%;
    max-width: 40%;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
}
.wt-picker label span{
    font-size: 12px;
}
.wt-picker .input-wrap{
    flex: 55%;
    max-width: 55%;
    padding-left: 12px;
    padding-right: 12px;
}

.map-picker-pointer .map-pointer{
    position: relative;
    width: 100px;
    height: 100px;
}
/*
.map-picker-pointer .map-pointer:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;

    background-color: rgba(246,78,96,0.3);
}
*/
.map-picker-pointer .map-pointer i{
}
.map-picker-pointer .pointer-red{
    background-color: rgba(246,78,96,1);
}
.map-picker-pointer .pointer-puple{
    background-color: rgba(246,78,96,1);

}

.wt-rs-wrap{
    position: absolute;
    top: 42.5%;
    width: 100%;
}
.wt-rs-wrap .wt-rs-wrap-inner{
    width: 50%;
    margin: 0 auto;
    background-color: rgba(25,25,26,0.8);
    padding: 1rem;
    border-radius: .5rem;
}

.wt-sidebar .sidebar-block{
    margin-bottom: 1rem;
}
.wt-btn-side{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.wt-user-menu{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}
.wt-user-menu .nav-link{
    padding: 1rem 0;
}


















